{% extends 'template.html.twig' %}
{% block title %}
    List Of Users
{% endblock %}

 {%  block PageTitle %}
     Users List
 {% endblock %}


{% block body %}
    {{ include('fragments/date-jour.html.twig') }}
<table class="table">
    <tr class="table-{% if (users |length is divisible by(3)) %}danger{% else %}warning{% endif %}">
        <td>First Name</td>
        <td>Last Name</td>
        <td>Age</td>
        <td>Message</td>
    </tr>
    {% for user in users %}
        <tr>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.age }}</td>
            <td>{{ render(path('say.hello' , {'firstName': user.firstName, 'lastName': user.lastName})) }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}