{% extends 'template.html.twig' %}

{% block body %}
<div class="alert alert-success">
     {{ personne.firstName }}
     {{ personne.lastName }}
     {{ personne.age }}
      {% if app.user %}
      <p>Created At: {{ app.user.email }}</p>
      {% endif %}
</div>
{% endblock %}

{% block title %}
      {{ personne.firstName }} {{ personne.lastName }}
{% endblock %}

