{% extends 'template.html.twig' %}

{% block body %}
<div class="alert alert-success">
     {{ personne.firstName }}
     {{ personne.lastName }}
     {{ personne.age }}
</div>
{% endblock %}

{% block title %}
      {{ personne.firstName }} {{ personne.lastName }}
{% endblock %}

