{% extends 'template.html.twig' %}

{% block title %}
    List des personnes
{% endblock %}

{% block body %}
<div class="row"  id="search-results" >
    {% for personne in personnes %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ personne.lastName }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ personne.firstName }} {{ personne.lastName }}</h6>
                <p class="card-text">Age : {{ personne.age }}</p>
                <a href="{{ path('personne.detail', {id : personne.id}) }}" class="card-link"><i class="fas fa-info-circle"></i></a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('personne.delete', {id : personne.id}) }}" class="card-link"><i class="fas fa-user-times"></i></a>
                <a href="{{ path('personne.edit', {id : personne.id}) }}" class="card-link"><i class="fa-solid fa-pen-to-square"></i></a>
            {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
    {% if isPaginated is defined and isPaginated %}
        <div class="row mt-2"  id="search-pagination" >
            <nav aria-label="col Page navigation example">
            {% if personnes is not empty %}
                <ul class="pagination">
                    {% if page != 1  %}
                         <li class="page-item"><a class="page-link" href="{{ path('personne.list.all', {page: page - 1, nbre: nbre}) }}">Previous</a></li>
                   {% endif %}
                    {% for i in range(1, nbrePage) %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('personne.list.all', {page: i, nbre: nbre}) }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                    {% if page != nbrePage  %}
                        <li class="page-item"><a class="page-link" href="{{ path('personne.list.all', {page: page + 1, nbre: nbre}) }}">Next</a></li>
                    {% endif %}
                </ul>
            {% endif %}
            </nav>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function() {
        console.log("fi")
        $('.select2').select2();
        // Ajax search On key up
        $('#ajaxSearchQuery').on('keyup', function() {
            let nameQuery = $(this).val();
            let searchPersonsAjaxRoute = `{{ path('search_persons_via_ajax') }}?query=${nameQuery}`;
            console.log(searchPersonsAjaxRoute)
            fetch(searchPersonsAjaxRoute)
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    if(data.length === 0){
                        $('#search-results').append('<p class="search-not-found">Search Not Found</p>');
                    }else {
                        // we append the persons to the template using jQuery
                        $('#search-results').empty();
                        $('#search-pagination').remove();
                        // we append the new search results
                        $('#search-results').append(`
                             <div class="row mt-2">
                                <p class="text-primary font-weight-bold">Total: ${data.length}</p>
                            </div>`);

                        data.forEach(persons => {
                            $('#search-results').append(`
                            <div class="card" style="width: 18rem;">
                               <div class="card-body">
                                    <h5 class="card-title">${persons.firstName}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">${persons.firstName} ${persons.lastName}</h6>
                                    <p class="card-text">${persons.lastName}</p>
                                    <p class="card-text">Age :${persons.age}</p>
                                </div>
                            </div>
                        `);
                        });
                    }
                })
                .catch(err => console.log(err))
        });
    });
</script>
{% endblock %}