{% extends 'template.html.twig' %}

{% block title %}
    List des personnes
{% endblock %}

{% block body %}
<div class="row"  id="search-results" >
    {% for personne in personnes %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ personne.lastName }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ personne.firstName }} {{ personne.lastName }}</h6>
                <p class="card-text">Age : {{ personne.age }}</p>
                <a href="{{ path('personne.detail', {id : personne.id}) }}" class="card-link"><i class="fas fa-info-circle"></i></a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('personne.delete', {id : personne.id}) }}" class="card-link"><i class="fas fa-user-times"></i></a>
                <a href="{{ path('personne.edit', {id : personne.id}) }}" class="card-link"><i class="fa-solid fa-pen-to-square"></i></a>
            {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
    {% if isPaginated is defined and isPaginated %}
        <div class="row mt-2"  id="search-pagination" >
            <nav aria-label="col Page navigation example">
            {% if personnes is not empty %}
                <ul class="pagination">
                    {% if page != 1  %}
                         <li class="page-item"><a class="page-link" href="{{ path('personne.list.all', {page: page - 1, nbre: nbre}) }}">Previous</a></li>
                   {% endif %}
                    {% for i in range(1, nbrePage) %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('personne.list.all', {page: i, nbre: nbre}) }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                    {% if page != nbrePage  %}
                        <li class="page-item"><a class="page-link" href="{{ path('personne.list.all', {page: page + 1, nbre: nbre}) }}">Next</a></li>
                    {% endif %}
                </ul>
            {% endif %}
            </nav>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
<script>
    $(document).ready(function() {
        /*console.log("fi")*/
        $('.select2').select2();
        // Ajax search On key up
        let page = 1; // Initialize the current page
        const perPage = 14; // Number of results per page
        $('#ajaxSearchQuery').on('keyup', function () {
            let nameQuery = $(this).val();
            console.log(nameQuery);

            fetchSearchResults(nameQuery, page);

        });

        function fetchSearchResults(nameQuery, page) {
            let searchPersonsAjaxRoute = `{{ path('search_persons_via_ajax') }}?searchQuery=${nameQuery}&page=${page}&nbre=${perPage}`;
            console.log(searchPersonsAjaxRoute);
            fetch(searchPersonsAjaxRoute)
                .then(response => response.json())
                .then(data => {
                    if (data.length === 0) {
                        $('#search-results').html('<p class="search-not-found">Search Not Found</p>');
                    } else {
                        // Clear previous results
                        $('#search-results').empty();
                        $('#search-pagination').remove();
                        // Append the new search results
                        $('#search-results').append(`
                            <div class="row mt-2">
                                <p class="text-primary font-weight-bold">Total: ${data.totalResults}</p>
                            </div>
                            `);
                        if (Array.isArray(data.persons)) {
                            data.persons.forEach(person => {
                                $('#search-results').append(`
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">${person.firstName}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">${person.firstName} ${person.lastName}</h6>
                                        <p class="card-text">${person.lastName}</p>
                                        <p class="card-text">Age: ${person.age}</p>
                                    </div>
                                </div>
                            `);
                            });
                        } else {
                            console.log('data.persons is not an array');
                        }

                        // Render pagination
                        if (data.isPaginated) {
                            renderPagination(data.nbrePage, data.page);
                        }
                    }

                })

                .catch(err => console.log(err));
        }




        function renderPagination(totalPages, currentPage) {
            let paginationHtml = '<ul class="pagination">';
            for (let i = 1; i <= totalPages; i++) {
                if (i === currentPage) {
                    paginationHtml += '<li class="page-item active"><span class="page-link">' + i + '</span></li>';
                } else {
                    paginationHtml += '<li class="page-item"><a class="page-link" href="#" onclick="changePage(' + i + ', \'' + $('#ajaxSearchQuery').val() + '\')">' + i + '</a></li>';
                }
            }
            paginationHtml += '</ul>';
            $('#search-results').append('<div id="search-pagination">' + paginationHtml + '</div>');
        }
        function changePage(pageNumber, searchQuery) {
            page = pageNumber;
            fetchSearchResults(searchQuery, page);
        }
    })

</script>
{% endblock %}